
body{
  font-family: 'Montserrat-black', sans-serif;

}
h1{
  font-family: "Montserrat-black";
  line-height: 1.5;
  font-size: 3.5rem;
  font-weight: 900;
  }
  h2{
    font-family: "Montserrat-bold";
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 900;
  }
  h3{
    font-family: "Montserrat-bold";
    font-weight: 900;
  }
  p{
    color: #8f8f8f;
  }

#title{
  background-color: green;
  color: #fff;
}

.container-fluid{
  padding: 3% 15% 7%;
}

.bee{
        height:90px;
        width:400px;
        background-color:green;

      }
      .bee-text{
        font-size: 2.0rem;
        font-weight: 900;
        color: #fff;
      }
      .bee-image{
        width: 30%;
        left: : 30px;
        padding: 5px;
        }
  .form-control{
        height: 40%;
        width: 70%;
        border: 1px solid grey;
      	background: #dadada;
          }
          .kej{
            line-height: 2.3;
          }
/* navigation Bar */
.navbar{
  padding:0 0 4.5rem;

}
.btn{
  background-color: yellow;
  color: black;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: 900;
}
.nav-item{
  padding: 0 18px;


  }
  .nav-link{
    font-size: 1.2rem;
  font-family:  "Montserrat-light";

  }

/* download-botton*/
.download-button{
  margin: 5% 3% 5% 0;
}
/* Title Image*/
.title-image{
  width: 100%;
  transform: rotate();
  position: absolute;
  right: 10%;
}

/* Features section*/
#features{
  padding: 7% 15%;
  background: #ffff;
  position: relative;

}
.features-box{
  text-align: center;
  padding: 5%
}
.icon{
  color: green;
  margin: 1rem;
}
.icon:hover{
  color: #ff4c68;
}

/*testimonial section*/
#testimonials{
    text-align: center;
  background-color: green;
  color: #ffff;
}
.testimonial-image{

  width: 100%;
  margin: 20px;
}
.carousel-item{
  padding: 7% 15%;
}

#press {
  background-color: green;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section*/

#pricing{
padding: 100px;
text-align: center;
}
.pricing-column {
  padding: 3% 2%;
}

#cta{
  text-align: center;
  background-color: green;
    color: #fff;
    padding: 7% 15%;
}
.cta-heading{
  font-family:  "Montserrat-black";
  font-size: 1.2rem;
  line-height: 1.5;
font-weight: 900;
}
.cta-image{
  border-radius: 85px;
  margin-right: 20px;
}
.cta-pat{
  color: red;
}
/*footer section*/
#footer {
  padding: 7% 15%;
  text-align: center;
}
.footer-tx{
font-size: 1.3rem;
}
.footer-ax{
font-size: 1.0rem;
}
.footer-px{
  color: green;
}
.social-icon{
  margin: 20px 10px;
}
.ola{
  color: green;
  font-size: 2.3rem;
    font-family:  "Montserrat-black";
}
.hadji{
  text-align: center;
  padding right: 15px;
  margin-right: 15px,
}
.title-image{
  width: 60%;
  border-radius: 150px;
  background-image: green;
}
.controller{
        border:10px solid green;
        text-align:center;

        height:600px;
        width:400px;
        margin:auto;
    }
    .row.heading h2 {
        color: #fff;
        font-size: 52.52px;
        line-height: 95px;
        font-weight: 400;
        text-align: center;
        margin: 0 0 40px;
        padding-bottom: 20px;
        text-transform: uppercase;
    }
    ul{
      margin:0;
      padding:0;
      list-style:none;
    }
    .heading.heading-icon {
        display: block;
    }
    .padding-lg {
    	display: block;
    	padding-top: 60px;
    	padding-bottom: 60px;
    }
    .practice-area.padding-lg {
        padding-bottom: 55px;
        padding-top: 55px;
    }
    .practice-area .inner{
         border:1px solid #999999;
    	 text-align:center;
    	 margin-bottom:28px;
    	 padding:40px 25px;
    }
    .our-webcoderskull .cnt-block:hover {
        box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
        border: 0;
    }
    .practice-area .inner h3{
        color:#3c3c3c;
    	font-size:24px;
    	font-weight:500;
    	font-family: 'Poppins', sans-serif;
    	padding: 10px 0;
    }
    .practice-area .inner p{
        font-size:14px;
    	line-height:22px;
    	font-weight:400;
    }
    .practice-area .inner img{
    	display:inline-block;
    }


    .our-webcoderskull{
      background: url("http://www.webcoderskull.com/img/right-sider-banner.png") no-repeat center top / cover;

    }
    .our-webcoderskull .cnt-block{
       float:left;
       width:100%;
       background:green;
       padding:30px 20px;
       text-align:center;
       border:2px solid #d5d5d5;
       margin: 0 0 28px;
    }
    .our-webcoderskull .cnt-block figure{
       width:148px;
       height:148px;
       border-radius:100%;
       display:inline-block;
       margin-bottom: 15px;
    }
    .our-webcoderskull .cnt-block img{
       width:148px;
       height:148px;
       border-radius:100%;
    }
    .our-webcoderskull .cnt-block h3{
       color:#fff;
       font-size:20px;
       font-weight:500;
       padding:6px 0;
       text-transform:uppercase;
    }
    .our-webcoderskull .cnt-block h3 a{
      text-decoration:none;
    	color:#2a2a2a;
    }
    .our-webcoderskull .cnt-block h3 a:hover{
    	color:#337ab7;
    }
    .our-webcoderskull .cnt-block p{
       color:#fff;
       font-size:13px;
       line-height:20px;
       font-weight:400;
    }
    .big{
    color:#fff;
    }
    .our-webcoderskull .cnt-block .follow-us{
    	margin:20px 0 0;
    }
    .our-webcoderskull .cnt-block .follow-us li{
        display:inline-block;
    	width:auto;
    	margin:0 5px;
    }
    .our-webcoderskull .cnt-block .follow-us li .fa{
       font-size:24px;
       color:#767676;
    }
    .our-webcoderskull .cnt-block .follow-us li .fa:hover{
       color:#025a8e;
    }


@media (max-width: 1028px) {

  #title{
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
          }
  }
